[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussel/oh-my-zsh.git
[submodule ".rbenv"]
	path = .rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bin/heroku_toolbelt"]
	path = bin/heroku_toolbelt
	url = https://github.com/heroku/heroku
[submodule ".vim/bundle/elm.vim"]
	path = .vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule ".ruby-build"]
	path = .ruby-build
	url = git://github.com/sstephenson/ruby-build.git
