[core]
	excludesfile = ~/.gitignore.global
	pager = less --tabs=2

[user]
	name = Sonny Michaud
	email = michaud.sonny@gmail.com

[alias]
  sup = submodule foreach 'cd $toplevel && git submodule update --remote --rebase --depth=1 -- $path && echo'

[fetch]
  prune = true
  recurseSubmodules = true
[pull]
	rebase = preserve
[push]
	default = upstream

[rebase]
	stat = true

[status]
	short = true
	branch = true

[log]
  decorate = true

[help]
	autocorrect = -1

[diff]
	mnemonicprefix = true
	algorithm = histogram
	tool = vimdiff

[difftool]
	prompt = false

[color]
	diff = auto

[color "branch"]
	upstream = red

[remote "origin"]
  tagopt = --tags

[filter "pgp-crypt"]
  clean = gpg2 --encrypt --yes --recipient 'Sonny Michaud <michaud.sonny@gmail.com>' --use-agent --output /proc/$$/fd/1 %f 2>/dev/null
  smudge = gpg2 --decrypt --yes --recipient 'Sonny Michaud <michaud.sonny@gmail.com>' --use-agent 2>/dev/null
  required

[diff "pgp-crypt"]
  textconv = gpg2 --encrypt --yes --recipient 'Sonny Michaud <michaud.sonny@gmail.com>' --use-agent --output /proc/$$/fd/1
