[core]
  excludesfile = ~/.gitignore.global
  pager = less --tabs=2

[user]
  name = Sonny Michaud
  email = michaud.sonny@gmail.com
  signingkey = 0BD7F8E6349F3C61

[alias]
  sup = submodule foreach 'cd $toplevel && git submodule update --remote --checkout --depth=1 -- $path && echo || :'
  sinit = !git submodule update --init --depth=1 $(git submodule | grep '^-' | awk '{ print $2 }')

  fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autosquash $REV^' -
  squash = !sh -c 'REV=$(git rev-parse $1) && git commit --squash $@ && git rebase -i --autosquash $REV^' -

  graph = log --oneline --graph

  since-master = !git log --oneline master.. | wc -l | sed 's/^ *//g'
  push-branch = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
  commit-initial = commit --allow-empty -m 'initial commit'
  ls-new-files = !git status --porcelain | awk '$1 == \"A\" { print $2 }'

[fetch]
  prune = true
[pull]
  rebase = merges
[push]
  default = upstream
  gpgSign = if-asked

[commit]
  gpgSign = true

[rebase]
  stat = true

[status]
  short = true
  branch = true
  showStash = true

[log]
  decorate = true

[help]
  autocorrect = -1

[pager]
  branch = false

[diff]
  mnemonicprefix = true
  algorithm = histogram
  ignoreSubmodules = dirty
  tool = vimdiff

[difftool]
  prompt = false

[color]
  diff = auto

[color "branch"]
  upstream = red

[remote "origin"]
  tagopt = --tags

[filter "pgp-crypt"]
  clean = gpg2 --encrypt --yes --recipient 'Sonny Michaud <michaud.sonny@gmail.com>' --use-agent --output /proc/$$/fd/1 %f 2>/dev/null
  smudge = gpg2 --decrypt --yes --recipient 'Sonny Michaud <michaud.sonny@gmail.com>' --use-agent 2>/dev/null
  required

[diff "pgp-crypt"]
  textconv = gpg2 --encrypt --yes --recipient 'Sonny Michaud <michaud.sonny@gmail.com>' --use-agent --output /proc/$$/fd/1
[init]
	defaultBranch = main
