[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/elm.vim"]
	path = .vim/bundle/elm.vim
	url = git://github.com/lambdatoast/elm.vim.git
[submodule ".ruby-build"]
	path = .ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule "usr/bin/heroku-cli"]
	path = usr/bin/heroku-cli
	url = git://github.com/heroku/heroku.git
[submodule ".password-store"]
	path = .password-store
	url = git@bitbucket.org:sonnym/password-store.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = git://git@github.com/vim-scripts/ZoomWin
