[core]
	pager = vim -
	excludesfile = ~/.gitignore.global
[user]
	name = sonnym
	email = michaud.sonny@gmail.com
[pull]
	rebase = preserve
[push]
	default = upstream
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	diff = auto
