[submodule ".password-store"]
	path = .password-store
	url = git@bitbucket.org:sonnym/password-store.git
[submodule ".secrets"]
	path = .secrets
	url = git@bitbucket.org:sonnym/secrets.git

[submodule ".elmenv"]
	path = .elmenv
	url = git@github.com:sonnym/elmenv.git
[submodule ".nvm"]
	path = .nvm
	url = git@github.com:creationix/nvm.git
[submodule ".rbenv"]
	path = .rbenv
	url = git@github.com:sstephenson/rbenv.git
[submodule ".ruby-build"]
	path = .ruby-build
	url = git@github.com:sstephenson/ruby-build.git

[submodule "usr/bin/heroku_toolbelt"]
	path = usr/bin/heroku_toolbelt
	url = git@github.com:heroku/heroku.git

[submodule ".fonts"]
	path = .fonts
	url = git@github.com:powerline/fonts.git

[submodule ".tmux/plugins/pain-control"]
	path = .tmux/plugins/pain-control
	url = git@github.com:tmux-plugins/tmux-pain-control.git
[submodule ".tmux/plugins/prefix-highlight"]
	path = .tmux/plugins/prefix-highlight
	url = git@github.com:tmux-plugins/tmux-prefix-highlight.git

[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/elm-vim"]
	path = .vim/bundle/elm
	url = git@github.com:ElmCast/elm-vim.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-liquid"]
	path = .vim/bundle/liquid
	url = git@github.com:tpope/vim-liquid.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git

[submodule ".zsh/plugins/zsh-completions"]
	path = .zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
