[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/konsole
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=konsole
Name=konsole
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
